@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root color variables */
:root {
  --background: #F5F5F5;
  --foreground: #171717;
}

/* Global body styling */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-koulen), Arial, Helvetica, sans-serif;
}

button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Capsule styling */
.capsule {
  width: 402px;
  height: 70px;
  margin: 5px; /* Optional: spacing between capsules */
  font-size: 48px;
  color: black;
  background-color: #EBD99F;
  border-radius: 15px;
  display: flex; /* Use flexbox */
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* Prevent shrinking */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /* Add drop shadow */
}

/* Main container styling */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
}

/* Team list container styling */
.team-list-container {
  margin: 0 auto; /* Centers the team list within the flex layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

/* Left section styling */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px; /* Adjust independently for left section */
  margin-right: 180px;
}

/* Footer left image styling */
.footer-image-left {
  width: 50; /* Adjust size as needed */
  height: auto;
  margin-top: 8px; /* Space between text and image */
}

/* Clock display styling */
.clock-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left within the clock */
}

/* TREC text styling */
.trec-text {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: -10px;
}

/* Time text styling */
.time-text {
  font-size: 36px;
}

/* Right section styling */
.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 350px; /* Adjust independently for right section */
  margin-left: 200px;
}

/* Footer text styling */
.footer-text {
  font-size: 2rem; /* Equivalent to text-3xl in Tailwind */
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* Footer right image styling */
.footer-image-right {
  width: 50; /* Adjust size as needed */
  height: auto;
  margin-left: auto;
}

.no-shadow {
  box-shadow: none !important;
}

.game-status-line {
  width: 350px; /* Adjust width as needed */
  height: 4px;
  margin: 50px;
  background-color: black;
  margin: 0 auto; /* Centers the line */
  margin-top: 1rem; /* Adds space above the line */
  margin-bottom: 1rem;
}