.fire-icon-container {
    position: relative;
    display: inline-block; /* Keeps the icon and number together */
}

.win-streak {
    display: flex;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    top: -30px; /* Adjust to control vertical overlap */
    left: -30px; /* Adjust to control horizontal overlap */
    z-index: 10; /* Brings WinStreak in front of other elements */
}

.fire-icon {
    font-size: 5rem;
    margin-right: 0.5rem;
}

.streak-number {
    position: absolute;
    top: 50%; /* Position at the vertical center of the icon container */
    left: 50%; /* Position at the horizontal center of the icon container */
    transform: translate(-60%, -30%); /* Center the number over the icon */
    font-weight: bold;
    font-size: 2rem; /* Adjust as needed for readability */
    transition: transform 0.3s ease;
}

.animate .streak-number {
    transform: scale(1.3) translate(-50%, -50%);
}